name: Python pytest
on: [workflow_dispatch, pull_request, push] 

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: "pip"
          cache-dependency-path: settings.ini
      - name: Run pytest
        run: |
          python -m pip install --upgrade pip
          pip install -e '.[dev]'
          pytest nbs/tests/